<div class="login-form">
  <h3 class="text-left">Company Login</h3>
  <form (ngSubmit)="onLoginButtonClicked()">
    <div class="form-group mt-3">
      <label for="Company_Name">Name</label>
      <input
        type="text"
        class="form-control mt-2"
        id="Company_Name"
        name="Company_Name"
        [(ngModel)]="Company_Name"
        placeholder="Enter your Company Name"
        autocomplete="off"
        required
      />
    </div>
    <div class="form-group mt-2">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control mt-2"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
        autocomplete="off"
        required
      />
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 2rem">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
    <br />
    <p class="text-center">
      Don't have an account? <a routerLink="/signup">Register</a> Now!
    </p>
      
  </form>
</div>
